/* ===========================================================================
  block02
============================================================================= */
.block02 {
	padding: 30px;
	background-color: $color_bg-gray;
	font-size: 1.6rem;
	font-weight: bold;
	@include mq(s) {
		padding: 15px;
	}
}