/* ===========================================================================
  block01
============================================================================= */
.block01 {
	padding: 30px;
	background-color: $color_bg-gray;
	@include mq(s) {
		padding: 15px;
	}
}
.block01_title {
	font-size: 2.0rem;
	font-weight: bold;
	@include mq(s) {
		font-size: 1.8rem;
	}
}
.block01_text {
	.block01_title + & {
		margin-top: 5px;
	}
}