/* ===========================================================================
  code
============================================================================= */
.code {
	background-color: $color_bg-gray;
	padding: 2px 5px;
	margin: 0 5px;
}