/* ===========================================================================
  gradient
============================================================================= */
.gradient {
	padding: 30px 0;
	background: linear-gradient(-59deg, #fc8742 60%, #f00 40%);
}
.gradient-02 {
	padding: 30px 0;
	background:linear-gradient(to right, #f00 33.3%, #0f0 33.3%, #0f0 66.6%, #00f 66.6%);
}