/* ===========================================================================
  heading03
============================================================================= */
%border {
	content: '';
	display: inline-block;
	width: 16px;
	height: 1px;
	background-color: $color_main;
	position: absolute;
	left: 0;
	@include mq(s){
		width: 10px;
	}
}
.heading03 {
	font-size: 2.0rem;
	font-weight: bold;
	color: $color_main;
	padding-left: 30px;
	margin: 50px 0 30px;
	position: relative;
	&::before {
		@extend %border;
		top: 13px;
	}
	&::after {
		@extend %border;
		top: 15px;
	}
	@include mq(s) {
		font-size: 1.6rem;
		padding-left: 15px;
		margin: 30px 0 15px;
		&::before {
			top: 10px;
		}
		&::after {
			top: 12px;
		}
	}
}