/* ===========================================================================
  icon
============================================================================= */
.icon-pdf {
	padding-right: 33px;
	background: resolve('icon_pdf.svg') no-repeat right center/28px;
	margin-right: 5px;
}
.icon-blank {
	padding-right: 19px;
	background: resolve('icon_blank_gray.svg') no-repeat right center/14px;
	margin-right: 5px;
}